<!-- Header Section Begin -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="header__logo">
          <a href="#" style="color: white"> App Perpustakaan </a>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="header__nav">
          <nav class="header__menu mobile-menu">
            <ul>
              <li class="active">
                <a href="#">Home</a>
              </li>
              <li><a href="#">Kategori</a></li>
              <li><a href="#">Cari Buku</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div id="mobile-menu-wrap"></div>
  </div>
</header>
<!-- Header End -->
